{% extends 'base.html.twig' %}

    {% block title %}Dashboard
    {% endblock %}
    
    {% block body %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Label</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for prod in product %}
                    <tr class="table-secondary">
                        <td>{{ prod.id }}</td>
                        <td>{{ prod.label }}</td>
                        <td>{{ prod.stock }}</td>
                        <th>
                            <a type="button" class="btn btn-outline-warning" href="/category/edit/{{prod.id}}">Update</a>
                            <a type="button" class="btn btn-outline-danger" href="#">Delete</a>
                        </th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock %}
    